<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-4">
        <h1>Login Manager</h1>

         <div class="mb-3">
             <a href="{% url 'addlogin' %}" class="btn btn-success">Add User</a>
         </div>

        <table class="table table-bordered mt-4">
            <thead class="thead-dark">
                <th>Id</th>
                <th>Email</th>
                <th>Password</th>
                <th colspan="2" class="text-center">Action</th>
            </thead>
            {% for x in log %}
            <tr>
                <td>{{x.id}}</td>
                <td>{{x.username}}</td>
                <td>{{x.password}}</td>
                <td class="text-center">
                    <a href="deleteacc/{{x.id}}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br><br>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
